@model demo.Model.Employe_de


@{
    Layout = null;
}

<h2 class="bg-danger">DELETE INFORMATION </h2>
@using (Html.BeginForm("Delete_item", "home", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.ID)
<div>
    <p>do u want to delete this details</p>
</div>
    <div>
        <input type="submit" value="Delete" />
    </div>
}
