@model List<demo.Model.Employe_de>
@{
    ViewBag.Title = "Display";
}

<div class="container pt-2 tablecontainer"  >
    <table id="myTable" class="table table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr class="col">
                <th>EmployeeID</th>
                <th>Employee Name</th>
                @*<th>Salary</th>
                <th>Grade</th>*@
                <th>Action</th>
                <th>More Detail</th>
            </tr>
        </thead>

    </table>
</div>


@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        
        
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/Home/newdisplay",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "EmployeID" ,"autoWidth": true },
                    { "data": "Name", "autoWidth": true },
                    //{ "data": "Salary", "autoWidth": true },
                    //{ "data": "Grade", "autoWidth": true },
                    {
                        "data": "ID", "width": "50px", "render": function (data) {

                            return '<a class=" btn btn-danger m-1 popup"   href="/Home/delete/' + data + '" >Delete</a><a class=" btn  btn-success popup "  href="/Home/update_info/' + data + '" >Edit</a>';
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    },
                    {
                        "data": "ID", "width": "50px", "render": function (data) {

                            return '<a class=" btn btn-primary m-1 popup"   href="/Home/Display_moreinfo/' + data + '" >View</a>';
                        },
                        
                    },
                ]
            });
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });
               

                $dialog = $('<div ></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        
                        model: true,
                        title: 'Popup Dialog',
                        height: 550,
                        width: 600,
                        
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })


                $dialog.dialog('open');
            }
        });
    </script>
}
