@model List<demo.Model.Employe_de>
@{
    ViewBag.Title = "Display";
}
<div class="container pt-2">
    <table id="myTable" class="table table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr class="col">
                <th>EmployeeID</th>
                <th>Employee Name</th>
                <th>Salary</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
</div>


<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />


@section Scripts{

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/Home/newdisplay",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "EmployeID" },
                    { "data": "Name" },
                    { "data": "Salary" },
                    { "data": "Grade" },
                    {
                        "data": "ID", "width": "50px", "render": function (data) {

                            return '<a class="btn btn-danger btn-block"  type="button" href="/Home/delete/' + data + '">Delete</a>';
                        }
                    }

                ]
            });
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        });
    </script>
}
