@{
    ViewBag.Title = "Home Page";
}


<div class="container mt-4">
    <h1 class=" text-center"><strong style="color: black;"> EMPLOYEES CRUD</strong></h1>
    <hr style="background-color: rgb(24, 215, 221);">
    
        <a href="https://localhost:44317/Home/addEmployees" type="button" class="btn btn-primary btn-block" name="add">Add Employess</a><br>
        <a href="https://localhost:44317/Home/Display" type="button" class="btn btn-primary btn-block" name="display">Display Details</a><br>
        <a href="https://localhost:44317/table" class="btn btn-primary btn-block">View Table</a>

    
</div>
